html
    body
        h1= title
        p #{user.displayName} your id #{user.id}
        img(src= user.photo)
        ul.posts
            each item in posts
                li
                    h2= item.title
                    p= item.content
                    a(href= item.id) link